# For local fast run server

:: fastrun.bat - SSL enabled - use uv
:: (Optional) Check virtual environment
:: uv sync
.venv\Scripts\activate
uv run manage.py makemigrations
uv run manage.py migrate
uv run manage.py compilemessages -l en
uv run manage.py runserver_plus 0.0.0.0:8443 --cert-file=./localhost+2.pem --key-file=./localhost+2-key.pem

:: fastrun.bat - No SSL - use uv
:: (Optional) Check virtual environment
:: uv sync
.venv\Scripts\activate
uv run manage.py makemigrations
uv run manage.py migrate
uv run manage.py compilemessages -l en
uv run manage.py runserver 0.0.0.0:8000

# fastrun.ps1 - SSL enabled - use uv
.\.venv\Scripts\activate.ps1
uv run .\manage.py makemigrations
uv run .\manage.py migrate
uv run .\manage.py compilemessages -l en
uv run .\manage.py runserver_plus 0.0.0.0:8443 --cert-file=./localhost+2.pem --key-file=./localhost+2-key.pem

# fastrun.ps1 - No SSL - use uv
# (Optional) Check virtual environment
# uv sync
.\.venv\Scripts\activate.ps1
uv run .\manage.py makemigrations
uv run .\manage.py migrate
uv run .\manage.py compilemessages -l en
uv run .\manage.py runserver 0.0.0.0:8000